.container {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: $tablet-width) {
  .container {
    width: 768px;
  }
}

@media (max-width: $mobile-width) and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
