.feedback {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  right: 280px;
  top: 305px;
}

.feedback p {
  width: 327px;
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  color: $white;
  margin-bottom: 0;
}

.feedback input,
.feedback button {
  width: 327px;
  height: 48px;
  border-radius: 4px;
  padding-top: 14px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid $light-blue;
  margin-top: 20px;
}

.feedback input {
  background: $white;
  border: 1px solid $gray;
  padding-left: 30px;

  &::placeholder {
    font-size: 15px;
    line-height: 24px;
    color: $black-low;
    opacity: 0.5;
  }
}

.feedback button {
  background: $light-blue;
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

@media (max-width: $tablet-width) {
  .feedback {
    position: static;
    margin: 0 auto;
    max-width: 321px;
  }

  .feedback p {
    color: $black;
    max-width: 321px;
    margin-top: 70px;
  }

  .feedback input,
  .feedback button {
    width: 321px;
  }

  .feedback input {
    margin-top: 30px;
    padding-left: 21px;
  }

  .feedback button {
    height: 51px;
  }
}

@media (max-width: $mobile-width) and (min-width: 320px) {
  .feedback input,
  .feedback button {
    width: 288px;
    align-self: center;
    margin-top: 20px;
  }

  .feedback p {
    max-width: 288px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    letter-spacing: -0.005em;
  }
}

@media (max-width: $desktop-width) and (min-width: 320px) {
  .feedback p {
    width: calc(288px + (327 - 288) * ((100vw - 320px) / (1200 - 320)));
  }

  .feedback input,
  .feedback button {
    width: calc(288px + (327 - 288) * ((100vw - 320px) / (1200 - 320)));
    font-size: 15px;
  }
}
