.magazine {
  width: 393px;
  color: $white;
  letter-spacing: -0.005em;
  line-height: 32px;
  margin-right: 159px;
  padding-top: 33px;
}

.magazine h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 64px;
  letter-spacing: -0.005em;
  font-style: normal;
  margin-bottom: 0;
}

.magazine p {
  font-size: 20px;
  font-weight: 300;
  opacity: 0.8;
  width: 391px;
  margin-top: 23px;
}

@media (max-width: $tablet-width) {
  .magazine {
    margin: 0 auto;
    margin-top: 135px;
    margin-bottom: 150px;
    width: 525px;
    padding-top: 0;
  }

  .magazine h1 {
    width: 525px;
    margin-top: 0;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  .magazine p {
    width: 435px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.005em;
    margin-left: 45px;
    margin-top: 19px;
  }
}

@media (max-width: $mobile-width) {
  .magazine {
    margin: 0 auto;
    margin-top: 122px;
    margin-bottom: 140px;
    width: 288px;
    box-sizing: border-box;
  }

  .magazine h1 {
    margin-left: 0;
  }

  .magazine p {
    margin-left: 0;
  }
}

@media (max-width: $mobile-width) and (min-width: 320px) {
  .magazine {
    margin-bottom: 51px;
  }

  .magazine h1 {
    font-size: calc(30px + (46 - 30) * ((100vw - 320px) / (1200 - 320)));
    width: 288px;
    margin-top: 0;
    box-sizing: border-box;
  }

  .magazine p {
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1200 - 320)));
    width: 292px;
    box-sizing: border-box;
  }
}
