.magazine {
  width: 393px;
  color: $white;
  letter-spacing: -0.005em;
  line-height: 32px;
  margin-left: 235px;
  margin-top: 306px;
  text-align: center;
}

.magazine__title {
  font-size: 46px;
  font-weight: bold;
  line-height: 64px;
  letter-spacing: -0.005em;
  font-style: normal;
  margin-bottom: 0;
}

.magazine__description {
  font-size: 20px;
  font-weight: 300;
  opacity: 0.8;
  width: 391px;
  margin-top: 23px;
  margin-left: 22px;
}

@media (max-width: $tablet-width) {
  .magazine {
    margin: 0 auto;
    margin-top: 135px;
    width: 525px;
  }

  .magazine__title {
    width: 525px;
    margin-top: 0;
    font-size: 30px;
    line-height: 42px;
  }

  .magazine__description {
    width: 435px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.005em;
    margin-left: 45px;
    margin-top: 19px;
  }
}

@media (max-width: $mobile-width) {
  .magazine {
    margin: 0 auto;
    margin-top: 122px;
    width: 288px;
  }

  .magazine__title {
    margin-left: 15px;
  }

  .magazine__description {
    margin-left: 15px;
  }
}

@media (max-width: $mobile-width) and (min-width: 320px) {
  .magazine__title {
    width: 288px;
    margin-top: 0;
    box-sizing: border-box;
  }

  .magazine__description {
    width: 292px;
    box-sizing: border-box;
  }
}
