.page-header {
  background-color: #171717;
  background-image: url("../image/header-bike-desktop.jpg");
  background-repeat: no-repeat;
  width: 1440px;
  min-height: 825px;
  margin: 0 auto;
  position: relative;
}

.page-header__logo {
  position: absolute;
  top: 312px;
  left: 281px;
}

.page-header__info {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: $tablet-width) {
  .page-header {
    width: 767px;
    background: linear-gradient(#171717, $white);
    background-image: url("../image/header-bike-tablet.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    overflow: hidden;
    background-size: 100% 50%;
  }

  .page-header__logo {
    left: 20px;
    top: 20px;
  }

  .page-header__info {
    flex-direction: column;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    width: 320px;
    min-height: 390px;
    background-image: url("../image/header-bike-mobile.jpg");
    background-size: 100% 50%;
    margin: 0 auto;
  }

  .page-header__logo {
    left: 16px;
    top: 20px;
  }
}

@media (max-width: $desktop-width) and (min-width: 320px) {
  .page-header {
    width: calc(320px + (1440 - 320) * ((100vw - 320px) / (1440 - 320)));
    margin: 0 0;
  }
}
