$black: #000000;
$white: #ffffff;
$light-blue: #0ad9c6;
$black-low: #1c1c1c;
$black-light: #1f1f1f;
$light-white: #f6f7f9;
$gray: #c9ccd4;
$beige: #f6f6f6;
$dark-gray: #48494d;
$light-gray: #d0d0d1;
$black-gray: #131314;

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;
