.video-bicycle__presentation {
  width: 929px;
  height: 522px;
  background-color: #171717;
  background: url("../image/bike-preview-desktop.png");
}

@media (max-width: $tablet-width) {
  .video-bicycle__presentation {
    width: 503px;
    height: 282px;
    background: url("../image/bike-preview-tablet.png");
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width) and (min-width: 320px) {
  .video-bicycle__presentation {
    width: 288px;
    height: 162px;
    background: url("../image/bike-preview-mobile.png");
  }
}
