.video-bicycle {
  width: 100%;
  min-height: 706px;
  background: $black-gray;
  padding-top: 120px;
  position: relative;
  box-sizing: border-box;
}

.video-bicycle h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $white;
  letter-spacing: -0.005em;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 350px;
}

.video-bicycle p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: $white;
  opacity: 0.7;
  letter-spacing: -0.005em;
  display: block;
  text-align: center;
  width: 340px;
  margin: 0 auto;
  margin-top: 20px;
}

.video-bicycle__presentation {
  width: 929px;
  height: 522px;
  background: url("../image/bike-preview-desktop.png");
  background-color: #171717;
  position: absolute;
  left: 256px;
  top: 282px;
}

.video-bicycle__button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: $light-blue;
  position: absolute;
  left: 432px;
  top: 229px;
}

.video-bicycle__button:active {
  opacity: 0.7;
}

@media (max-width: $tablet-width) {
  .video-bicycle {
    min-height: 413px;
    padding-top: 70px;
  }

  .video-bicycle h2 {
    font-size: 24px;
    width: 280px;
  }

  .video-bicycle p {
    width: 429px;
  }

  .video-bicycle__presentation {
    width: 503px;
    height: 282px;
    background: url("../image/bike-preview-tablet.png");
    margin: 0 auto;
    left: 133px;
    top: 216px;
  }

  .video-bicycle__button {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 206px;
    top: 96px;
  }

  .video-bicycle__icon-play {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: $mobile-width) and (min-width: 320px) {
  .video-bicycle {
    min-height: 384px;
    padding-top: 84px;
  }

  .video-bicycle h2 {
    width: 280px;
  }

  .video-bicycle p {
    width: 288px;
  }

  .video-bicycle__presentation {
    width: 288px;
    height: 162px;
    background: url("../image/bike-preview-mobile.png");
    margin: 0 auto;
    left: 16px;
    top: 271px;
  }

  .video-bicycle__button {
    width: 65px;
    height: 65px;
    left: 112px;
    top: 48px;
  }

  .video-bicycle__icon-play {
    width: 65px;
    height: 65px;
  }
}
